[tools]
uv = "latest"

[env]
_.python.venv = { path = ".venv" }
_.file = ".env"
PYTHONPATH = "./src"

[tasks.setup]
run = '''
uv sync
# uv run pre-commit install
uv run python -m src.kaggle_utils.write submission-code
source .env && ./scripts/scrape_competition.sh
'''

[tasks.dl-comp]
description = '''
Download Kaggle competition dataset.
Comptition name is set in environment variable KAGGLE_COMPETITION_NAME
'''
run = "uv run python -m src.kaggle_utils.download competition-dataset"

[tasks.up-code]
description = "Upload source code to Kaggle dataset."
run = "uv run python -m src.kaggle_utils.upload codes"

[tasks.up-art]
description = "Upload artifacts to Kaggle model."
run = "uv run python -m src.kaggle_utils.upload artifacts --settings.exp-name"

[tasks.meta-deps]
description = "Create metadata for Kaggle code that installs dependencies."
run = "uv run python -m src.kaggle_utils.write deps-metadata"

[tasks.up-source]
description = "Upload codes and artifacts to Kaggle."
run = "uv run python -m src.kaggle_utils.upload sources --settings.exp-name"

[tasks.meta-sub]
description = "Create metadata for Kaggle submission code."
run = "uv run python -m src.kaggle_utils.write submission-metadata"

[tasks.push-deps]
description = "Push Kaggle code that installs dependencies."
run = '''
cd codes/deps
uv run kaggle k push
cd ../..
'''

[tasks.push-sub]
description = "Push Kaggle submission code."
run = '''
uv run python -m src.kaggle_utils.check nessesary-artifacts-exist
uv run python -m src.kaggle_utils.upload codes
sleep 30
cd codes/submission
uv run kaggle k push
cd ../..
'''

[tasks.fmt]
description = "Run pre-commit formatting."
run = "uv run pre-commit run --all-files"
